/* CSS Document */

.watch_button {
	font-family: "Bank Gothic";
	text-align: center;
	background-color: #1A1941;
	border-color: #18222B;
}

th {
	font-family: "Bank Gothic";
}

td {
	font-family: "Bank Gothic";
}