/* CSS Document */

#outer {
	margin: 0;
	position: absolute;
	top: 20%;
	right: 50%;
	transform: translateY(-50%);
	transform: translateX(50%);
	zoom: 1.25;
}

button {
    margin:0 auto;
    display:block;
	
	font-family: "Bank Gothic";
	background-color: #1A1941;
	border-color: #18222B;
}

body {
	/*background-image: url('https://thumbs.dreamstime.com/z/man-holding-gun-1074094.jpg');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-blend-mode: soft-light;
}

a {
	margin: 0 auto;
	display: block;
	text-align: center;
}